<h1>Searching for - <%= @search_term %></h1>
<table>
	<tr>
		<th>Image</th>
		<th>Name</th>
		<td>Description</td>
	</tr>
	<% @courses.each do |course| %>
		<tr class=<%= cycle('even', 'odd')%> >
			<td><%= image_tag(course['smallIcon']) %></td>
			<td><%= course['name'] %></td>
			<td><%= course['shortDescription'] %></td>
		</tr>
	<% end %>
</table>
